<footer class="bg-light">
    <div class="container-fluid">
        <div class="text-center" title="Morse Communicator">
            Morse Communicator @DateTime.UtcNow.ToLocalTime().Year &copy;
        </div>
    </div>
</footer>
