<header class="bg-light">
    <div class="container-fluid bg-light">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <NavLink class="navbar-brand" href="/" title="Morse Communicator" Match="NavLinkMatch.All">
                    Morse Communicator
                </NavLink>
                <form class="d-flex">
                    <NavLink class="nav-link" href="about" title="About" Match="NavLinkMatch.All">
                        About
                    </NavLink>
                </form>
            </div>
        </nav>
    </div>
</header>
